albumentations
black
flake8
imagehash
ipdb
ipywidgets
isort
joblib
jupyterlab
kaggle
kornia==0.6.1
matplotlib
neptune-client
omegaconf
opencv-python
pandas
pydicom
pylibjpeg
pylibjpeg-libjpeg
pytest
lightning-bolts==0.4.0
pytorch-lightning==1.4.9
scikit-learn
timm==0.4.12
torchmetrics==0.5.1