albumentations
black
flake8
ipdb
ipywidgets
isort
loguru
joblib
jupyterlab
kaggle
matplotlib
neptune-client
omegaconf
opencv-python
pandas
pydicom
pylibjpeg
pylibjpeg-libjpeg
pytest
lightning-bolts==0.4.0
pytorch-lightning==1.4.9
scikit-learn
timm==0.4.12
torchmetrics==0.5.1