albumentations
black
flake8
imagehash
ipdb
ipywidgets
isort
joblib
jupyterlab
kaggle
kornia==0.6.1
matplotlib
omegaconf
opencv-python
pandas
pydicom
pylibjpeg
pylibjpeg-libjpeg
pytest
lightning-bolts==0.4.0
pytorch-lightning==1.5.4
scikit-learn
git+git://github.com/rwightman/pytorch-image-models.git@master#egg=timm
torchmetrics==0.5.1
transformers==4.12.3
wandb
